---
title: TEST RUN
permalink: /sscwc/testrun/
description: ""
---
![](/images/Sscwc/pixel%20test.jpg) 

### **Singapore Schools Cyber Wellness Challenge (SSCWC)** 
Is a national short film competition,
centred around Cyber Wellness themes, endorsed by the Infocomm Media Development Authority
(IMDA) and Media Literacy Council (MLC) in support of the Digital for Life (DfL) movement. 

### **Theme for 2023 Challenge**
**![](https://lh3.googleusercontent.com/4HZcfoaKLunAoLkkd2gVPuc6CP8Lnr947wPniGk_-aZlG5SpxrpXx7xLV5V6BRsn7XmHnZiWJsWScoOm4LVAqVXAG5-zZutJj4U-XlPbEuKoU4nAvWnfgKvjs3C3qbl924VmUSM7YwRLUcGo6zCBZ1U)**
- Be safe online
- Be smart online
- Be Kind online 

-to be replaced with banner-

--- 
### **"For Students, By Students"** 
The challenge seeks to promote youth advocacy and cultivate student leadership competencies, by integrating Peer Support and Relationships (PSR) into advocacy in Cyber Wellness education. Each participating team will comprise secondary school students playing the role of mentors to their primary school peers in the creation of media content illustrating the key messages of the DfL movement.

In order to generate meaningful media content that can impact and educate their peers and the
community, both primary and secondary school student participants will first explore and discuss Cyber Wellness issues, with guidance from TOUCH Cyber Wellness facilitators.

Student participants will then apply their learning to storyboard and conceptualise suitable stories /
messages in line with the selected key Cyber Wellness message and target audience. Student
participants will also be trained by learning specialists from Apple Singapore in the technical skills and knowledge for video production using the iPads.

SSCWC 2023 is organised by Yio Chu Kang Secondary School in partnership with TOUCH Cyber Wellness and Apple Singapore, supported by the South 1 School Cluster. // event logo and logos of various organisations

---

#### **Team Composition**
Insert image here <br> 
Each ~~team participating in the SSCWC~~ participating team will comprise of two secondary school mentors and four primary school participants. This pairing of schools (one secondary school to one primary school) will be randomly done by the organiser.

#### **Challenges Timeline &amp; Milestones**
**![](https://lh3.googleusercontent.com/rGnsZk1JbDIuEf8Y60VMw247nzsBzimNSZ4ydWuWucqARV6ScQoGinbJ3fKqaRCr1-jozs-d34pEtlgWU4cR0EKKGI39_Hd1krlHwf_AgXwMramV09HQih-6S_-sOr2NyAt--gclehBumSblah1ccOM)**

#### **How to Participate?**

Primary Level: A primary school can nominate one group of four Primary 4 and / or Primary 5 students. 
* //Click here// for more information for Primary school participants.

Secondary Level: A secondary school can nominate a group of two Secondary 3 students to serve as SSCWC mentors.

* //Click here// for more information for Secondary school participants.

![Line break](/images/line%20%20%20.png)
**Notes**
1. Student participants could be the school's Peer Support Leaders, Cyber Wellness Ambassadors, Wellness Champions, Technology Champions or any other group(s) of students the school deems suitable. 
2. Nominated students must be comfortable in learning new technological skills. 
3.  It is **not** a pre-requisite for student participants to own an Apple device, as these will be loaned to students for the duration of the competition. 
4. Click here (Pri) and here (Sec) for more information Click here for competition dates - Refer to the PDF (T&amp;C) (shift to individual pages)

---