---
title: TEST RUN
permalink: /sscwc/testrun/
description: ""
---
<img style="width:100%;" src="/images/images-2021/About-OurTeam.jpg">

##  <font color="#DB0032">**WHAT IS THE CHALLENGE?**<font color="">

The Singapore Schools Cyber Wellness Challenge (SSCWC) is a national short film competition,
centred around Cyber Wellness themes, endorsed by the Infocomm Media Development Authority
(IMDA) and Media Literacy Council (MLC) in support of the Digital for Life (DfL) movement. 

SSCWC 2023 is organised by Yio Chu Kang Secondary School in partnership with TOUCH Cyber Wellness and Apple Singapore, supported by the South 1 School Cluster.</font></font>