---
title: TEST RUN
permalink: /sscwc/testrun/
description: ""
---
<img style="width:100%;" src="/images/images-2021/About-OurTeam.jpg">

##  **WHAT IS THE CHALLENGE?**

The Singapore Schools Cyber Wellness Challenge (SSCWC) is a national short film competition,
centred around Cyber Wellness themes, endorsed by the Infocomm Media Development Authority
(IMDA) and Media Literacy Council (MLC) in support of the Digital for Life (DfL) movement. 